.site-header {
  background: linear-gradient(205deg, #103674, #9a4eff);
  padding: 20px 32px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transition: top 0.4s ease; /* smooth slide */
}
.site-header.hidden {
  top: -80px;
}

.brand-logo {
  width: 35px;
  height: 35px;
}
.mobile-view .header-inner {
  align-items: center;
  display: flex;
  color: white;
}
.brand-logo-name {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center; /* vertical center */
  gap: 10px; /* space between logo and name */
}

.header-inner {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 96vw;
  width: 100%;
}

.brand {
  font-weight: 700;
  font-size: var(--fs-lg);
  color: white;
  text-decoration: none;
}
/* Drawer wrapper */
.custom-drawer-home-page {
  /* affects the root container */
  opacity: 1;
}

/* The inner Paper element */
.custom-drawer-home-page .MuiDrawer-paper {
  background: #05142b;
  color: #ffffff;
  width: 200px;
  padding: 10px;
}
.custom-drawer-home-page .MuiDrawer-paper .MuiListItemText-primary {
  font-size: 18px; /* bigger menu text */
  font-weight: 400; /* optional: bold */
}
/* //=====================------------------------------------------- */
.nav a {
  margin-left: var(--space-lg);
  text-decoration: none;
  color: var(--color-text-dark);
  font-weight: 600;
  font-size: var(--fs-base);
  padding: 4px 8px;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.nav a:hover,
.nav a.active {
  background-color: var(--color-text-dark);
  color: var(--color-text-light);
}
