.site-main {
  background-color: var(--color-main-bg);
  flex: 1 0 auto;
  /* width: 100%; */
  max-width: 100vw;
  /* padding: 2vw 0; */
  /* box-shadow: 0 6px 12px rgb(0 0 0 / 0.1); */
  color: var(--color-text-dark);
  font-size: var(--fs-base);
  line-height: 1.5;
  min-height: 300px;
}

@media (max-width: 768px) {
  .site-main {
    margin: var(--space-md);
    padding: var(--space-md);
    border-radius: 12px;
  }
}
@media (max-width: 480px) {
  .site-main {
    margin: var(--space-sm);
    padding: var(--space-sm);
    border-radius: 8px;
  }
}
